<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6">
            <h1>Event Log</h1>
        </div>
    </div>
    <div class="row m-4">
        <div class="class-lg-12">
            <div class="timeline">
                <div *ngFor="let event of timeLineEvents; index as i" (mouseover)="eventFocused(i)"
                    (mouseleave)="eventUnfocused(i)" [ngStyle]="{ 'left' : event.timestamp+'%' }"
                    [ngClass]="{'error-event': event.level== 'ERROR', 'info-event': event.level== 'INFO', 'warning-event':event.level == 'WARNING'}"
                    class="event"></div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6">
            <table mat-table [dataSource]="eventLogs">
                <ng-container matColumnDef="timestamp">
                    <th mat-header-cell *matHeaderCellDef> timestamp </th>
                    <td mat-cell *matCellDef="let element"> {{element.timestamp | date : "yyyy-MM-dd hh:mm:ss"}} </td>
                </ng-container>

                <ng-container matColumnDef="level">
                    <th mat-header-cell *matHeaderCellDef> level </th>
                    <td mat-cell *matCellDef="let element">
                        <span *ngIf="element.level === 'WARNING'"><i class="pi pi-exclamation-triangle"
                                style="color: orange"></i></span>
                        <span *ngIf="element.level === 'ERROR'"><i class="pi pi-exclamation-circle"
                                style="color: red"></i></span>
                        <span *ngIf="element.level === 'INFO'"><i class="pi pi-exclamation-circle"
                                style="color: blue"></i></span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; index as i" (mouseover)="handleMouseOver(i)"
                    (mouseleave)="handleMouseLeave(i)"></tr>
            </table>
        </div>
    </div>
</div>